<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1 id="h1_welcome_aksts"> <%= t(:welcome_aksts) %></h1>
  <h2> <%= t(:welcome_aksts_description) %> </h2>
  	<% if !signed_in? %>
        <%= link_to t(:sign_up), signup_path, class: "btn btn-large btn-primary" %>
    <% else %>
      <% if !current_user.admin? %>
        <% if !have_applic %> 
          <%= link_to t(:sign_up_to_contest), apply_path, class: "btn btn-large btn-primary", id: "sign_up_to_contest" %> 
        <% else %>
          <%= link_to t(:view_application), current_user.applic, class: "btn btn-large btn-secondary", id: "btn_view_application" %>
        <% end %>
      <% else %>
        <%= link_to "Посмотреть поданные заявки", applics_path, class: "btn btn-large btn-primary", id: "btn_applics_path" %> 
      <% end %>

    <% end %>

</div>
<%= render 'static_pages/home_text' %>