<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<% if !signed_in? %>
      <h1 id="welcome_aksts"> <%= t(:welcome_aksts) %></h1>
      <h2> <%= t(:welcome_aksts_description) %> </h2>
      <%= link_to t(:sign_up), signup_path, class: "btn btn-large btn-primary" %>
  <% else %>
    <h1> <%= t(:grant_contest) %> </h1>
    <h2> <%= t(:grant_contest_description) %></h2>
    <% if !have_applic %> 
      <%= link_to t(:sign_up_to_contest), apply_path, class: "btn btn-large btn-primary", id: "sign_up_to_contest" %> 
    <% else %>
      <%= link_to t(:view_application), current_user.applic, class: "btn btn-large btn-secondary" %>
    <% end %>
  <% end %>
</div>
<div class="row">
  <aside class="span4">
    <%= link_to image_tag("aksts_logo.jpg", alt: "AKSTS Site"), 'http://aksts.ru/' %>
       <p>Ассоциация научно-технических обществ корейцев (АНТОК) СНГ была основана в 1991 году и именовалась тогда, как «Межреспубликанская ассоциация советских корейцев». Была переименована после распада СССР. АНТОК объединяет научные корейские диаспоры России, Казахстана, Узбекистана, Киргизии, Украины. В состав Российского НТО входят ученые Москвы и области, С.-Петербурга, Новосибирска, Красноярска, Воронежа, Омска, Владивостока.</p>
      <p>АНТОК входит во Всемирную федерацию научно-технологических обществ (КОФСТ), имеющую штаб-квартиру в Сеуле, Республика Корея (www.kofst.or.kr). Кроме АНТОК в КОФСТ входят научно-технические общества США, Канады, Германии, Франции, Англии, Китая, Японии, Австрии. Вместе с Россией, Казахстаном и Узбекистаном 11 стран.</p>
      <p>С 2001 года АНТОК разделяется на два отделения — Центрально-азиатское, объединяющее Казахстан, Узбекистан и Киргизию (ЦАО АНТОК) и Европейское (ЕО АНТОК). Центральный офис АНТОК находится в Москве.</p>
      <p>АНТОК СНГ является некоммерческой организацией, созданной для содействия ее членам в достижении социальных, культурных, благотворительных, образовательных, профессиональных, научных и управленческих целей, духовных и иных нематериальных потребностей, защиты прав и законных интересов, разрешения споров и конфликтов, оказания юридической помощи и иных целей, направленных на достижение общественных благ.</p>
      <p>Информационный сайт АНТОК находится по адресу - <a href="http://www.aksts.ru/">www.aksts.ru</a></p>
  </aside>
  <div class="span8">
    <h3>О конкурсе</h3>
    <p>Конкурс грантов АНТОК для российских корейцев - студентов высших учебных заведений России. От 5 грантов по 15000 рублей и путевки на Всемирный молодежный форум YGF-2014 в Корее.</p>
    <p>Организатор конкурса - Ассоциация Научно-Технических Обществ Корейцев России (АНТОК России), <a href="http://www.aksts.ru">www.aksts.ru</a></p>
    <p>Генеральный спонсор – Корейская Федерация Научно-Технических Обществ (KOFST), <a href="http://www.kofst.or.kr">www.kofst.or.kr</a></p>
    <h4>Требования к конкурсантам</h4>
    <ol>
      <li>Граждане России</li>
      <li>Этнические корейцы или дети смешанных браков. В случае русской фамилии необходимо документально подтвердить «корейскую линию» в родословной. Например, копия свидетельства о рождении</li>
      <li>Студенты 3, 4, 5, 6 курсов Российских ВУЗов не находящиеся в академических отпусках на момент подачи заявки. Направление (специализация) подготовки должно соответствовать одному из перечисленных в таблице
    <table class="table">
      <tbody>
        <tr>
          <td>1) Аэронавтика</td>
          <td>13) Медицина</td>
        </tr>
        <tr>
          <td>2) Энергетика и электротехника</td>
          <td>14) Почвоведение</td>
        </tr>
        <tr>
          <td>3) Биотехнологии</td>
          <td>15) Химия</td>
        </tr>
        <tr>
          <td>4) Кораблестроение</td>
          <td>16) Астрономия</td>
        </tr>
        <tr>
          <td>5) Криптография</td>
          <td>17) Геология</td>
        </tr>
        <tr>
          <td>6) Материаловедение</td>
          <td>18) Агрономия</td>
        </tr>
        <tr>
          <td>7) Машиностроение</td>
          <td>19) Бионика</td>
        </tr>
        <tr>
          <td>8) Механика</td>
          <td>20) Физика (все направления)</td>
        </tr>
        <tr>
          <td>9) Нанотехнологии</td>
          <td>21) Математика</td>
        </tr>
        <tr>
          <td>10) Робототехника</td>
          <td>22) Педагогика</td>
        </tr>
        <tr>
          <td>11) Строительство, архитектура и дизайн</td>
          <td>23) Социология</td>
        </tr>
        <tr>
          <td>12) Информационные технологии</td>
          <td>24) Психология</td>
        </tr>
      </tbody>
    </table>
    Участие в конкурсе заявителей из других направлений может быть индивидуально согласовано с Оргкомитетом (AKSTSRussia@gmail.com).
    </li>
    <li>Возраст заявителя должен быть не более 30 лет на момент подачи заявки</li>
    <li>На момент подачи документов, заявитель должен быть действующим членом АНТОК. Для вступления в АНТОК необходимо заполнить анкету и направить её по электронной почте на AKSTSRussia@gmail.com. Скачать анкету можно с сайта АНТОК - <a href="http://www.aksts.ru/vstuplenie_antok">www.aksts.ru</a></li>
    </ol>
    <p>Заявкой на участие в конкурсе грантов АНТОК является заявление-анкета, которая заполняется онлайн на этом сайте</p>
    <h4>К заявке необходимо приложить подтверждающие документы</h4>
    <ol>
      <li>официальный документ, подтверждающий текущий статус заявителя, как студента высшего учебного заведения, расположенного на территории России, с указанием направления (специализации) подготовки; например, справка из отдела кадров ВУЗа с печатью организации;</li>
      <li>документы с информацией об академической успеваемости заявителя по итогам двух последних сессий; например, заверенная в деканате копия зачетной книжки;</li>
      <li>документы, подтверждающие возраст заявителя: копия водительского удостоверения, паспорта, свидетельства о рождении (обязательно, если заявитель имеет русскую фамилию), прочие документы с датой рождения заявителя;</li>
      <li>документы, подтверждающие участие заявителя в олимпиадах, конкурсах научных работ, конференциях, получения стипендий, наличие опыта преподавательской и общественной работы (при наличии);</li>
      <li>рекомендательные письма; приоритет отдается рекомендациям, выданным членами АНТОК1, преподавателями ВУЗа, в котором учится заявитель, другими лицами; обязательно наличие контактной информации о лице, выдавшем рекомендацию (при наличии). </li>
      Для получения рекомендательного письма от члена АНТОК любой заявитель может связаться с Оргкомитетом конкурса (AKSTSRussia@gmail.com) и получить контактную информацию Руководителя регионального отделения АНТОК в регионе проживания/обучения
    </ol>
    <h4>Критерии оценки</h4>
    <ol>
      <li>Академическая успеваемость (30%)</li>
      <li>Опыт участия в общественной работе (30%)</li>
      <li>Рекомендации (20%)</li>
      <li>Эссе (20%)</li>
    </ol>
    <p><strong>Все подтверждающие документы подаются в электронном виде по адресу</strong> <a href="mailto:AKSTSRussia@gmail.com">AKSTSRussia@gmail.com</a>. Документы с оригинальными печатями, подписями и т.п. сканируются в цвете с разрешением не менее 300 dpi и конвертируются в формат PDF. Все документы, должны быть представлены в формате PDF или одном из форматов MS Office (DOC, PPT, XLS). Суммарный размер файлов подтверждающих документов не должен превышать 15 Мб. Заявки на участие, без подтверждающих документов, к рассмотрению не принимаются.</p>
    <p>Оргкомитетом могут быть запрошены оригиналы подтверждающих документов, а также дополнительные документы, не вошедшие в приведенный выше перечень.</p>
    <p><strong>Срок подачи заявок – c 30.09.2013 по 04.11.2013 года</strong> включительно. Датой подачи заявки является дата получения заявки Оргкомитетом, о чем свидетельствует ответное письмо с подтверждением о принятии заявки к участию в конкурсе грантов АНТОК.</p>
    <% if !signed_in? %>
      <%= link_to t(:sign_up), signup_path, class: "btn btn-large btn-primary" %>
    <% else %>
      <% if !have_applic %> 
        <%= link_to t(:sign_up_to_contest), apply_path, class: "btn btn-large btn-primary", id: "sign_up_to_contest" %> 
      <% else %>
        <%= link_to t(:view_application), current_user.applic, class: "btn btn-large btn-secondary" %>
      <% end %>
    <% end %>
  </div>
</div>