<% provide(:title, "Просмотр новости") %>
<h1>Просмотр новости</h1>
<div class="row">
  <div class="span8 offset2 applic-form">
    <%= link_to t(:edit), edit_message_path(@message), class: "btn btn-large btn-secondary" %>
    <%= link_to t(:messages_list), messages_path, class: "btn btn-large btn-secondary" %>
    <%= form_for(@message) do |f| %>
      <label class="checkbox"><%= f.check_box :send_to_subscribers, disabled: true %><%= f.label :send_to_subscribers %></label>
      <label class="checkbox"><%= f.check_box :send_to_twitter, disabled: true %><%= f.label :send_to_twitter %></label>
      <label class="checkbox"><%= f.check_box :send_to_facebook, disabled: true %><%= f.label :send_to_facebook %></label>
      <label class="checkbox"><%= f.check_box :send_to_vkontakte, disabled: true %><%= f.label :send_to_vkontakte %></label>
      <br/>
      <%= f.label :title %><%= f.text_field :title, disabled: true %>
      <%= f.label :body %><%= f.text_area :body, rows: 20, disabled: true %>
      <%= f.label :temp %><%= f.text_area :temp, rows: 20, disabled: true %>
    <% end %>
    <%= link_to t(:edit), edit_message_path(@message), class: "btn btn-large btn-secondary" %>
    <%= link_to t(:messages_list), messages_path, class: "btn btn-large btn-secondary" %>
  </div>
</div>