<% provide(:title, "Вход") %>
<h1 id="h1_sign_in">Вход</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %> 
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password%>
      <%= password_field_tag :password, params[:password]  %>
    </div>
      <div class="actions"><%= submit_tag "Войти", class: "btn btn-large btn-primary", id: "sign_in" %></div>
    <% end %>

    <p>Новый пользователь? <%= link_to "Зарегистрироваться сейчас!", signup_path %></p>
    <p>Забыли пароль? <%= link_to "Восстановить пароль", new_password_reset_path %></p>
  </div>
</div>