<!DOCTYPE html>
<html>
  <head>
    <title>AKSTS | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  	 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "aksts", root_path , id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Главная", root_path, id: "goto_home" %></li>
              <li><%= link_to "Сайт АНТОК", "http://www.aksts.ru", id: "goto_antok"  %></li>
              <% if signed_in? %>
                <% if current_user.admin? %>
                  <li><%= link_to "Поданые заявки", applics_path , id: "goto_applics_path" %></li>
                  <li><%= link_to "Пользовтели", users_path , id: "goto_users_path" %></li>
                <% end %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Меню <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Профиль", current_user, id: "goto_profile" %></li>
                    <li><%= link_to "Настройки ", edit_user_path(current_user), id: "goto_settings" %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Выход", signout_path, method: "delete", id: "goto_exit" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Вход", signin_path, id: "goto_signin" %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
	  <%= yield %>
	<footer class="footer">
	  <small>
	  	Разработка сайта
	    <a href="http://www.busation.com/">@busation</a>
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "Об АНТОК",   about_path, id: "goto_about_antok" %></li>
	      <li><%= link_to "Контакты", contact_path, id: "goto_contacts" %></li>
	    </ul>
	  </nav>
	</footer>
  <%= debug(params) if Rails.env.development? %>
	</div>
  </body>
</html>
